*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
 width: 100%;
 display: flex;
height: 100vh;
}
.box1{
height: 100vh;

width: 68%;
 
}

.boxresponsive{
    display: flex;
    justify-content: center;
   align-items: center;
   width: 32%;
   padding-left: 3%;
   padding-right: 3%;

}


.box2{
width: 100%;

}
.logo{
margin-top: 80px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.text{
    text-align: center;
}


.text{
    font-size: 23px;
    font-weight: bolder;
    margin-top: 70px;
  
}
.inptbtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}
input{
border-top: none;
border-left: none;
border-right: none;
height: 40px;
border-width: 1.5px;

}
button{
    height: 40px;
    width: 100%;
}
.btn1{
    background:  #1c87b4;
    color: #fff;
    border: none;
    font-size: 15px;
    margin-top: 25px;
    border-radius: 5px;
}
a{
    color: #2c87b4;
    text-decoration: none;
    font-size: 14px;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn2{
   
    color: #2c87b4;
    border-color: #2c87b4;
    background-color: white;
    border-width: 1.5px;
    font-size: 15px;
    margin-top: 15px;
}
.p1{
    font-weight: lighter;
    font-size: 14px;
    margin-top: 1%;
    text-align: center;
     margin-top: 20px;
    padding-bottom: 1%;
}
.p2{
   
    font-size: 13px;
    color: #4c87b4;
    text-align: center;
    margin-top: 15%;
    padding-bottom: 2%;
   
}

.btn3{
    background: white;
    border-color: grey;
    color: black;
    border-width: 1.5px;
    font-size: 16px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    padding-left: 30%;
}


/* Media queery starts from here */
@media screen and (max-width: 500px) {
   
    .box1{
        display: none;
    }
    .boxresponsive{
        width: 100%;
       
    }
    .box2{
        width: 80%;
    }
   }